<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Rooms</title>
  </head>
  <body style="background-color:#4FCDFF">
    <h1 style="text-align: center">Branch International</h1>
    <h2 style="text-align: center">Passionate about our customers.</h2>
    <p style="text-align: center">What chat room would you like to enter?</p>
    <input id="room-name-input" style="margin-left:600px;" type="text" size="20" /><br />
    <input id="room-name-submit" style="margin-left:660px; margin-top:10px;" type="button" value="Enter" />

    <script>
      document.querySelector("#room-name-input").focus();
      document.querySelector("#room-name-input").onkeyup = function (e) {
        if (e.key === "Enter") {
          // enter, return
          document.querySelector("#room-name-submit").click();
        }
      };

      document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        window.location.pathname = "/chat/" + roomName + "/";
      };
    </script>
  </body>
</html>